{% extends 'events/base.html' %}
{% load static %}
{% block title %}My Events{% endblock %}
{% block content %}
    <main role="main">
    <h1 align="center">Welcome to my posts</h1>

  <!--<div id="leftcol"> 
  <h3>Navigation panel</h3>
  <ul>
    <li>First item</li>
    <li>Second item</li>
    <li>Third item</li>
    <li>Fourth item</li>
  </ul>
-->
<div class="container">
    <div class="row">   
	      {% for post in posts.all %}
               <div class="col-md-4 pt-3 pl-4">
                    <div class="card mb-4 shadow-sm"  style="margin-left: 10px">
                          <a href="{% url 'specific_post' post.id %}"><h2 class="card-text pb-2" id="post_title">{{ post.title }}</h2></a>
                          <a href="{% url 'specific_post' post.id %}"><img class="card-img-top" src="{{ post.image.url }}"/></a>
                          <p class="card-text">{{ post.get_summary }}</p>
                          <p class="card-text">{{ post.date }}</p>
                        <div class="card-body">
                        </div>
                    </div>
               </div>
          {% endfor %}
    </div>  
</div>     
</main>

{% endblock %}

