{% extends 'events/base.html' %}
{% load static %}
{% block title %}My Events{% endblock %}
{% block content %}

<main role="main">
	<div class="md-3">
		<h1>{{ post.title }}</h1>
		<img src="{{ post.image.url }}" height="400">
		<p class="card-text pb-2 display-6">{{ post.text }}</p>
		<div class="col-md-4 pt-3 pl-4">
			{% if user.is_authenticated %}
				<form method="POST" action="{% url 'add_comment_to_post' post.id %}">
					{% csrf_token %}
					<textarea placeholder="Enter your comment..." style="width: 600px; height: 100px"></textarea>
					{{form.as_p}}
					{{ form }}
					{{ form.user.as_hidden }}
					{% for error in formset.non_field_errors %}
        				{{ error }}
					{% endfor %}
					<br><br>
					<input class="btn btn-success" type="submit" value="Add comment">
				</form>
			{% else %}
				<textarea disabled="True"></textarea>
				<br><br>
				<input class="btn btn-success" type="submit" value="Add comment" disabled="True">
			{% endif %}
			<br><br>
			{% for comment in comments.all %}
				<p><sub>Created {{ comment.comment_date|date:"d.m.Y h:m" }} by user {{ user }}</sub></p>
				<p>{{ comment.comment|linebreaks }}</p>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}
